<!DOCTYPE html>
<html>
<head>
	<title>Security System</title>
	<script
	src="https://code.jquery.com/jquery-3.4.0.js"
	integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
	crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css')}}">
	<style type="text/css">
		



	</style>
</head>
<body>
	<h1> ECE 369 Home Camera Network </h1>

	
	
    <img src="{{url_for('live_feed')}}" >


	<div class="container-fluid">
		<div class="circle" style = "background-color:red"></div>
		<div class ="circle"></div>
		<div class ="circle"></div>
	</div>
	<br>
	<div class = "container-fluid">
		<div id="frame">
			<h3>FPS</h3>
			<input type="fps" name="fps" class="form-control" align="middle">
		</div>
		<div id="res">
			<h3>Resolution</h3>
			<input type="res" name="res" class="form-control" align="middle">
		</div>
		<div id="brightness">
			<h3>Brightness</h3>
			<input type="brightness" name="brightness" class="form-control" align="middle">
		</div>
		<button class="btn btn-info"> Update</button>
	</div>
		<br>	
		<br>


	
		<script type="text/javascript" src = "{{ url_for('static',filename='home.js')}}"></script>
	
</body>
</html>